.plans__container--slider
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.products__cards--content
{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.main__tables--container
{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.main__currency--table
{
    width: 40%;
}
footer
{
    display: flex;
}

footer > section:first-of-type
{
    margin-bottom: 0;
}

footer img
{
    min-width: 100px;
}
.asks__grid
{
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: 20px auto;
}